container_commands:
  01_collectstatic:
    command: "source ../venv/staging-LQM1lest/bin/activate 2>/tmp/02_activate_err && mkdir -p ../static && python3 manage.py collectstatic --noinput >/tmp/02_collectstatic_res 2>&1"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: project.wsgi:application

