container_commands:
  01_echo_to_tmp:
    command: "pwd > /tmp/01_pwd 2>&1"
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate 2>/tmp/02_activate_err && mkdir -p /tmp/static && python3 manage.py collectstatic --noinput >/tmp/02_collectstatic_res 2>&1"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: project.wsgi:application

