body {
    font-family: Calibri, Candara, Arial, sans-serif;
    background: white url("images/pattern-2.svg") repeat;
}

ul {
    display: table;
    width: 99%;
    max-width: 400px;
}

li a {
    color: green;
}
